 
<mat-card class="workitempanel-card" *ngIf="isLoaded" style="margin:0.5em; padding: 10px 10px 20px 10px;">
  <mat-card-header>
      <div class="pega-workitem-header">
          <div class="pega-workitem-breadcrumb" *ngIf="!isNewPage">
            <app-breadcrumb *ngIf="currentCaseLoaded$" [CurrentCase]="currentCase$" ></app-breadcrumb>
          </div>
          <div class="pega-workitem-actions-menu">
              <button mat-button [matMenuTriggerFor]="actionMenu">Actions
                <mat-icon>arrow_drop_down</mat-icon>
              </button>
              <mat-menu #actionMenu="matMenu" overlapTrigger="false">
                <span mat-menu-item disabled>
                  <mat-icon>work</mat-icon><label >Local Actions</label>
                </span>
                <mat-divider></mat-divider>
                <button mat-menu-item (click)=refreshView()>Refresh</button>
                <button mat-menu-item *ngFor="let lAction of localActions$" (click)="handleLocalAction(lAction.ID)" >{{lAction.name}}</button>
                <span *ngIf="assignmentActions$.length > 0">
                <mat-divider></mat-divider>
                <span mat-menu-item disabled>
                    <mat-icon>edit</mat-icon><label >Assignment Actions</label>
                </span>
                <button mat-menu-item *ngFor="let aAction of assignmentActions$" (click)="handleAssignmentAction(aAction.ID)" >{{aAction.name}}</button>
                </span>
              </mat-menu>
          </div>
        </div>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    
    <div class="pega-workitem-main" *ngIf="!isNewPage">
      <div class="pega-workitem-item" style="width: 70%" >
         <div style="padding: 5px;">
          <app-topview #topview *ngIf="!isPage"></app-topview>
          <app-page *ngIf="isPage" [pageID]="currentPageID$" [caseID]="currentCaseID$" ></app-page>
          </div>   
      </div>
      <div class="pega-workitem-details" style="width: 30%">
        <div style="padding: 5px;">
         <app-casedetails [caseID]="currentCaseID$"></app-casedetails>
        </div>
      </div>

    </div>
    <div class="pega-workitem-main" *ngIf="isNewPage">
      <div class="pega-workitem-item" style="width: 100%">
        <app-toppage #toppage [CaseID]="currentCaseID$"></app-toppage>
      </div>
    </div>
  

  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <mat-grid-list cols="2" rowHeight="50px">
      <mat-grid-tile>
        <button mat-raised-button color="secondary" (click)="closeWork()" *ngIf="isView || isNewPage">Cancel</button>
        <button mat-raised-button color="secondary" (click)="closeWork()" *ngIf="isPage">Close</button>
      </mat-grid-tile>
      <mat-grid-tile>
           <button mat-raised-button color="secondary" (click)=saveView() *ngIf="isView" >Save</button>
           <div style="padding:0px 10px 0px 10px"></div>
           <button mat-raised-button color="primary" (click)=submitView() *ngIf="isView">Submit</button>
           <button mat-raised-button color="primary" (click)=createNew() *ngIf="isNewPage">Create</button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-actions>
</mat-card>

