.pega-repeating-grid ::ng-deep .mat-form-field-infix {
    border-top: none;
}

.pega-icon-left {
    padding-right: 2px;
}

.pega-icon-right {
    padding-left: 2px;
}

.pega-repeating-buttons {
    text-align: left;
}