.pega-form {
    min-width: 150px;
    width: 100%;
  }

  .pega-form-left {
    min-width: 150px;
    width: 100%;
    text-align: left; 
  }

  .pega-form-icon-left {
    min-width: 20px;
    width: 100%;
    text-align: left; 
  }
  
  .pega-full-width {
    width: 100%;
  }

  .pega-checkbox-margin {
    margin: 0 10px;
  }

